@{
    ViewBag.Title = "Login";
}

<br /><br />

<div class="col-md-4">
    <br /><br /><br />
    <center>
    <img src="http://sintpaulus.nl/images/logodraai1.gif" />
        </center>
</div>

<div class="col-md-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Gebruikersvalidatie
        </div>
        <div class="panel-body">
            <br />
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <input class="form-control" placeholder="Gebruikersnaam">
                <br />
                <input class="form-control" placeholder="Wachtwoord">
                <br />
                <div class="btn btn-success col-md-12">Inloggen</div>
            </div>
        </div>
        <div class="panel-footer">
            <i>Deze webpagina is alleen bedoeld voor de makers van de playbackband.<br />
            <br />
            Copyright ©2015 Fanfare St. Paulus
                <br />
            Copyright ©2015 Bas Corpelijn<br /></i>
        </div>
    </div>
</div>

<div class="col-md-4">
    <br /><br /><br />
    <center>
    <img src="http://sintpaulus.nl/images/logodraai1.gif" />
        </center>
</div>
