@{
    ViewBag.Title = "Main";
}

@if (!PBB_Web.Classes.SessionClass.IsAuthorized())
{
    Response.Redirect("~");
}

<br />

<div class="col-md-12">

    <div class="col-md-8">
        <div class="col-md-12">
            <h3>Selecteer hieronder een van de beschikbare playbackbanden om deze te kunnen inzien of bewerken.</h3>
            <h5>Druk op de knop "Nieuwe playbackband toevoegen" om een nieuwe playbackband toe te voegen</h5>
            <br />
        </div>

        <div class="col-md-12">
            <a href="toevoegen" class="btn btn-success">Nieuwe playbackband toevoegen</a>
        </div>

        <div class="col-md-12">
            <br />
            <br />
        </div>


        <div>
            @{
                int i = 0;
                i++;
                foreach (PBB_Web.Classes.Domain.Playbackband pbb in PBB_Web.Classes.Database.NamedQueries.GetAllePlaybackband())
                {
                    <div class="col-md-2">
                        @using (Html.BeginForm("Main", "Playbackband"))
                        {
                            <input type="hidden" name="id" value="@pbb.id" />
                            <button class="btn btn-primary btn-block btn-outline" type="submit">
                                <h3>@pbb.dag1.Year</h3>
                            </button>
                        }
                    </div>
                
                    if (i % 6 == 4)
                    {
                        <div class="col-md-12">
                            <br />
                        </div>
                    }
                }
            }
        </div>


    </div>
</div>

<div class="col-md-12">
    <br />
    <br />
    <input type="checkbox" checked />
    Open deze playbackband standaard voor mij
    
</div>
