@{
    ViewBag.Title = "Toevoegen";
}

@if (!PBB_Web.Classes.SessionClass.IsAuthorized())
{
    Response.Redirect("~");
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<script>
    $(document).ready(function ()
    {
        $("#datepicker").datepicker();
    });
</script>

<br />

<div class="col-md-12">
    <h2>Nieuwe playbackband toevoegen</h2>

    <br />
    <br />

    <div class="col-md-6">
        <div class="col-md-8">
            <div class="form-control-static">
                Aantal blokken in de nieuwe playbackband
            </div>
        </div>
        <div class="col-md-2">
            <input class="form-control datepicker" type="datetime" />
        </div>
        <div class="col-md-2">
            <input class="form-control" type="date" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-8">
            <div class="form-control-static">
                Aantal blokken in de nieuwe playbackband
            </div>
        </div>
        <div class="col-md-3">
            <input class="form-control" type="number" value="1" />
        </div>
    </div>
    <div class="col-ms-8"></div>
</div>
